<!DOCTYPE html>
<html lang="en">
	<head>
		<title> DP {Season}: {Title} </title>
		<meta charset="utf-8"/> 
		<!-- Point to whereever this stylesheet will exist-->
		<link rel="stylesheet" type="text/css" href="../../Common/styles.css"> 
		<style type="text/css">
			/*
			 * Insert styles for the content_body here
			 */
			 .content_body {}
		</style>
	</head>
	<body>
		<div class="req_link_container">
			<div class="req_link left_link">
				<a href="../..">
					<img class="no_border" src="../../Common/DPbutton2.gif" alt="Site navigation thumbnail">
				</a>
			</div>
			<div class="req_link right_link">
				<a href="..">
					<img class="no_border" src="../toIssue.gif" alt="Site navigation thumbnail">
				</a>
			</div>
			<hr class="hr_rule top_hr">
		</div>
		<div class="centered">
			<!-- Insert Author Name -->
			<h1>{TITLE}</h1>
			<h2>by {Author} </h2>
			<hr class="hr_rule">
		</div>
		<div class="content_body justified padded_body">
		<!-- Content Body -->
			
		<!-- Content Body End -->
		</div>

		<div class="info_block padded_body">
			<div>
				<br/>
				<br/>
			</div>

			<div>
				<table>
	  				<tbody>
						<tr>
						    <td>
						    	<!-- Insert Contact Information! -->
						    	<a href="mailto:{Email}">
						    		<img src="../../Common/letter.gif" alt="Email writer thumbnail">
						    	</a> 
						    </td>
						    <td>
						    	<strong>
						    		{Author} <br/>
						    		[{Function}] <br/>
						    		(<a href="mailto:{Email}">{Email}</a>)
						    	</strong> 
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="dear_dp">
				<p>
					<i>
						If you wish to e-mail feedback on this article to the author, and clicking 
						on the envelope above does not work for you, feel free to use the 
						
						<a href="../Common/DearDP.html">
							<q><strong>Dear DP...</strong></q>
						</a> 

						mail interface.
					</i> 
				</p>
			</div>

		</div>

		<div class="req_link_container">
			<hr class="hr_rule bot_hr">

			<div class="req_link left_link">
				<a href="../..">
					<img class="no_border" src="../../Common/DPbutton2.gif" alt="Site navigation thumbnail">
				</a>
			</div>

			<div class="req_link right_link">
				<a href="..">
					<img class="no_border" src="../toIssue.gif" alt="Site navigation thumbnail">
				</a>
			</div>
		</div>

	</body>
</html>
